<h2 style="font-family: heliosthin; font-size: 30px; display:block;" >Your Cart </h2>

<table class="table table-bordered">
  <%= render(cart.line_items) %>
 
  <tr class="total_line">
    <td colspan="3">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
 
</table>
 
<%= button_to 'Empty cart', cart, method: :delete,
    data: { confirm: 'Are you sure?' } %>