// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.btn-primary {
   color:white !important;
}

.catalog .btn-default {
    float:left;
}

.navbar {
  margin-bottom:0;
}

.catalog-front {
  margin-top:4.5em;
}