<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
      <td><img class="img-responsive img-circle"<%= image_tag(line_item.product.image_url) %> </td>
      <td><%= line_item.quantity %>&times;</td>
      <td class= "col-xs-6 col-md-2"><%= line_item.product.title %></td>
      <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>

</tr>