<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<!-- Carousel -->


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

       <div class="item active">
          <img class="img-responsive" src="/assets/2.jpg" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
      

      
        <div class="item">
          <img class="img-responsive" src="/assets/3.jpg" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
    

        
        <div class="item">
          <img class="img-responsive" src="/assets/4.jpg" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
      

        </div>
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>


<div class= "content catalog">
<hl style="font-family: heliosthin; font-size: 40px; padding:1.3em; display:block; border-bottom-color:#E2E2E2;
  border-bottom-style:solid;
  border-bottom-width:1px;
  margin-bottom:1em;">Your Pragmatic Catalog</hl>


<div class="col-xs-6 col-md-4" id="cart">
 
<%= render @cart %>
      
</div>

<div class="col-xs-12 col-sm-6 col-md-8 catalog-front">
	<% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    	<img class="img-responsive img-circle" <%= image_tag(product.image_url) %> 
      
      <div class="caption">
        <h3><%= product.title %></h3>
        <p><%= sanitize(product.description) %></p>
        <p><a href="#" class="btn btn-default" role="button"><%= number_to_currency(product.price) %></a></p>
        <p><a href="#" class="" role="button"> <%= button_to 'Add to Cart', line_items_path(product_id: product),
            remote: true %></a></p>
        

      </div>
    </div>
  </div>

<% end %>
</div>

